@model IEnumerable<Book>

@{
    ViewData["Title"] = "List of Books";
}

<div class="row">
    @foreach(var book in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px; min-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-tittle">
                                    @book.Name
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                </h5>

                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@book.PhotoURL" style="  width: 200px; height: 300px; object-fit: cover;" alt="@book.Name">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">
                                <b>Status: </b>
                                @if(@book.Customer == null)
                                {
                                    <span class="badge bg-success">Available</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary">Reserved</span>
                                }
                            </p>
                            <p class="card-text">
                                Description:
                                @book.Description
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@book.Id"><i class="bi bi-pencil-square"></i>Edit </a>
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@book.Id"><i class="bi bi-eye"></i>Details</a>
                                <a class="btn btn-outline-success" asp-controller="Orders" asp-action="AddToBookingCart" asp-route-id="@book.Id"><i class="bi bi-cart-plus"></i> Add to Cart</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem", "Books")